* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
   
}
body {
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    height: 100vh;
}

.container {
    
    background-color: #44cfa1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: rgb(222, 172, 106);
    padding: 8px;
}

.hearts-container {
    background-color: #36b4c2;
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.player-hearts,
.computer-hearts {
    display: flex;
    justify-content: space-around;
}

.name-container {
    display: flex;
    font-size: 16px;
    justify-content: space-around;
}

.score-display {
   
}

img {

}
.selection-container {
    background-color: #36b4c2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.player-display,
.computer-display {
    background-color: #36b4c2;
}

.message-display {
    padding: 8px
}

.endmessage-display {
    background-color: bisque;

}

button {
    font-size: 28px;
    padding: 8px;
    border-radius: 5%;
}

.options-display {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.button-display {
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.start-button {
    background-color: bisque;
}

