* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen', monospace;
    
}

html {
    height: -webkit-fill-available;
}

body {
    text-align: center;
    font-size: 2rem;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#27223e, #4540af);
}




.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    padding: .5em;
    color: white;
    text-shadow: 0 0 0.6rem #ffe6ff;
   
}

.game-container {
    flex-basis: 30rem;
    padding-top: 1em;
}

.btn-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.message-display {
    color: white;
    text-shadow: 2px 5px 4px #000000;
    align-self: center;
    
}

.footer {
    background-color: #d5bdaf;
    color: rgba(0, 0, 0, 0.300);
    font-size: 1rem;
}

.message-lost {
    background-color: crimson;
}

.message-won {
    background-color: #f8d5e3;
}

.message-draw {
    background-color: #2a369f;
}








.hearts-container {
    display: flex;
    justify-content: space-around;
}

.player-hearts,
.computer-hearts {
    display: flex;
    justify-content: space-around;
    gap: 2px;
}

.name-container {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    color: #130c34;
}

.score-display {
    background: linear-gradient(#fcfdf0, #cae16c);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.results-display {
    text-decoration: underline;
    padding: 1em;
    font-size: 24px;
    font-style: italic;
    background: linear-gradient(#cae16c, #74bcce);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


button {
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    border-radius: 5%;
    border: 0.1em solid #FFFFFF;
    text-decoration: none;
    font-family: 'Silkscreen', monospace;
    transition: all .5s;
}

button:hover {background-color:#FFFFFF;}

#rock {background-color: #ffd6e0;}

#rock:hover {background-color: #FFFFFF;}

#paper {background-color: #ffef9f;}

#paper:hover {background-color: #FFFFFF;}

#scissors {background-color: #c1fba4;}

#scissors:hover {background-color: #FFFFFF;}








.fade-heart {
    opacity: 0.2;
}

.hand-spin {
    animation: spin 5s infinite;
}

.message-spin {
    animation: shake .5s linear;
}

.animated-r {
    animation: right .3s linear;
}

.animated-l {
    animation: left .3s linear;
}

.header-rock {
    animation: shine 4s infinite;
}

.header-paper {
    animation: shine 3s infinite;
}

.header-scissors {
    animation: shine 4s infinite;
}






@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(-360deg);
    }

}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

@keyframes right {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(60deg) translateY(-50px);
    }
    70% {
        transform: rotate(-25deg) translateY(0px);
    }
    80% {
        transform: rotate(10deg);
    }

}

@keyframes left {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-60deg) translateY(-50px);
    }
    70% {
        transform: rotate(15deg) translateY(0px);
    }
    80% {
        transform: rotate(-15deg);
    }
}


@keyframes shine {
    15% {
      color: #f8d5e3;
    }
    20% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 0.8rem rgb(152, 158, 44);
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }


  @media (max-width: 680px) {
    body {
       font-size: 1.8rem;
    }
  }